/* @import url("animations.css"); */
@import url("chapters.css");
@import url("pages.css");
@import url("toc.css");

.book * {
  backface-visibility: visible;
  -moz-backface-visibility: visible;
}

/* https://codepen.io/carpenumidium/pen/EoxGg */
.book {
  position: relative;
    height: 90vh;
    width: 100vw;
    border: none; 


  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 10vh;
  right: 0;
  margin: auto; */
}
