.page {
    position: absolute;
    top: 0;
    height: 90vh;
    width: 50vw;
    padding: 2vh;
    background-color: var(--color-primary);
}

.page.left {
    left: 0;
}

.page.right {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: var(--color-accent-one-transparent);
    right: 0;
}

.page h1,
h2,
h3,
h4 {
    padding: 0 1vh;
    font-family: var(--header-font);
}

.page h1 {
    font-size: 1.5em;
    color: var(--color-accent-one);
}


h1.title {
    margin: 1em 0 0 0;
    font-size: 3em;
    color: var(--color-accent-one);
}

p.subtitle {
    margin-top: 0;
    font-size: 1em;
    font-style: italic;
}

.page p {
    width: 100%;
    padding: 0 1vh;
    line-height: 1.5em;
    font-size: 1em;
    text-align: justify;
}

[class*="side"] {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--color-background);
    background-size: 100% 100%;
}