@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --color-primary: #ffffff;
  --color-secondary: #333333 ;
  --color-disabled: #efefef ;
  --color-accent-one: #419d78ff;
  --color-accent-two: #efe9aeff;
  --color-accent-three: #b4656fff;
  --color-accent-four: #7678edff;
  --color-accent-one-transparent: #419d78aa;
  --color-background: #fafafa;
  --color-text: #222;
  --font-text: "Roboto Serif", serif;
  --font-header: "Roboto", sans-serif;
  --font-buttons: "Roboto", sans-serif;
  --font-input: "Roboto", sans-serif;
}



