@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --color-primary: #7a7a43;
  --color-secondary: #f8ffe5ff;
  --color-disabled: #B1B1B1;
  --green-color: #7a7a43;
  --color-accent-one: #419d78ff;
  --color-accent-two: #efe9aeff;
  --color-accent-three: #b4656fff;
  /* --color-accent-four: #7678edff; */
  --color-accent-four: #000000;
  /* --color-background: #FAFAFA; */
  --color-background: #FFFFFF;
  --color-text: #111;
  --font-text: "Roboto Serif", serif;
  --font-header: "Roboto", sans-serif;
  --font-buttons: "Roboto", sans-serif;
  --font-size: 14pt;
}



