@import url("theme/ilb-default-theme.css");
@import url("theme/fixes.css");
@import url("theme/lists.css");
@import url("components/splash/main.css");
@import url("components/external/main.css");
@import url("components/menu/main.css");
@import url("components/book/main.css");
@import url("components/navigation/main.css");
@import url("components/forms/main.css");
@import url("components/questions/main.css");

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  font-size: 13pt;
}

.hidden {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-background);
  font-family: var(--font-text);
  color: var(--color-text);
  line-height: 1.4;
}

.circle {
  width: 25px;
  height: 25px;
  border-color: var(--own-gray);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  float: left;
  margin-left: 12%;
  margin-bottom: 60px;
}

.circle:hover {
  cursor: pointer;
}

#circles {
  text-align: center;
}

#another-kenntnisstand {
  clear: both;
}

.kenntnisstand {
  color: var(--black);
}

.hindernisse {
  margin-bottom: 50px;
}

#beantworten {
  text-align: center;
}

.skill {
  text-align: justify;
}

#skills-legend {
  color: var(--black);
}

#timeover-element {
  width: 100%;
  display: inline-block;
}

#timeover {
  width: 100%;
  text-align: justify;
}

.participant {
  width: 100%;
}

#another-skills {
  margin-right: 5px;
}

#hello-appeal {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--green-color);
  margin-bottom: 25px;
  margin-top: 11%;
}

.datastructure-detection {
  width: 100%;
}
.datastructure-detection label {
  padding-bottom: 10pt;
}

#statement-checkboxes {
  clear: both;
  margin-top: 50px;
  padding-top: 40px;
  width: 100%;
}

.question-title {
  color: var(--black);
  text-align: left;
  clear: both;
  text-align: justify;
}

.worst-case {
  margin-top: 5px;
  margin-bottom: 5px;
}

.private_data {
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  width: 100%;
  color: var(--own-gray);
}

button:hover {
  cursor: pointer;
}

#skills-checkboxes {
  margin-left: 15px;
}

.kind_node_info {
  font-family: var(--font) !important;
  font-size: 16pt !important;
  font-weight: normal !important;
  color: var(--black) !important;

  border-color: var(--black) !important;
  border-style: solid 2px !important;
  background-color: var(--black);
}

.position_precise {
  font-family: var(--font) !important;
  color: var(--black);
  border-color: var(--own-brown) !important;
}

.swal2-button {
  font-family: var(--font);
  border-color: var(--hell-brown) !important;
  background-color: var(--black) !important;
}

.left_float_delete {
  clear: none;
}

.checkboxgroup label {
  display: block;
}

.id-number-constr {
  margin-left: 35px !important;
}

.id-number-viewing {
  margin-left: 35px !important;
}

.id-number {
  margin-left: 15px !important;
}

.id-number-this {
  margin-left: 35px !important;
}

.id-number-this-this {
  margin-left: 50px !important;
}

#end-element {
  text-align: center;
  width: 100%;
}

.test-questions {
  width: 100%;
  margin: auto;
}

.swal-runtime {
  color: var(--color-text);
  font-family: var(--font-text) !important;
  font-size: 8.5pt !important;
  width: 650px !important;
  height: 450px !important;
}
