.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6vh;
  margin: 0;
  padding: 0 3vh;
  background-color: var(--color-primary);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: var(--color-accent-one);
}

.menu .title {
  flex-basis: 20%;
  text-align: left;
}

.menu .title a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color-accent-one);
  font-weight: 700;
}

.menu .chapter {
  flex-basis: 60%;
  text-align: center;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1.15em;
}

.menu .links {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


 a {
    font-size: 0.9em;
    margin: 0 1vh;
    color: var(--color-accent-one);
  }
  
 a:hover {
    font-size: 0.9em;
    color: var(--color-accent-two);
  }
