.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  z-index: 14;
}

.navigation .pagenumber {
  background-color: var(--color-secondary);
  padding: 0 2vh;
  border-radius: 15px 15px 0 0;
  text-align: center;
  line-height: 4vh;
  font-size: 1em;
  font-family: var(--font-header);
  color: var(--color-primary);
}

.navigation .pagenumber .current::after {
  content: "/";
  margin: 0 0.25em;
}

.navigation .nav-button {
  display: inline-block;
  height: 4vh;
  width: 5vw;
  padding: 0 2vh;
  border: none;
  background-color: var(--color-accent-one);
  line-height: 4vh;
  text-align: center;
  color: var(--color-primary);
}

.navigation .nav-button.next {
  border-radius: 15px 0 0 0  ;
}

.navigation .nav-button.previous {
  border-radius: 0 15px 0 0;
}

.navigation .nav-button:hover {
  cursor: pointer;
  background-color: var(--color-accent-two);
}

.navigation .nav-button.disabled {
  opacity: 0.5;
  background-color: var(--color-disabled);
}

.navigation .nav-button.disabled:hover {
  cursor: not-allowed;
  background-color: var(--color-disabled);
}