.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 2em;
}

.start-end-end {
  width: 70%;
  text-align: center;
  font-weight: 140;
  font-size: 0.6em;
  color: var(--color-accent-one);
  margin: auto;
}

.splash h1 {
  font-size: 0.6em;
  color: var(--color-accent-one);
}

.splash i {
  color: var(--color-accent-one);
}

.no_experiment_available {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 2em;
  z-index: 99999;
}

.no_experiment_available h1 {
  font-size: 1em;
  color: var(--color-secondary);
}

.experiment_ended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 2em;
}

.experiment_ended h1 {
  font-size: 1em;
  color: var(--color-accent-one);
}

#myDiv .swal2-container {
  position: inherit;
  z-index: 100;
}

body.swal2-shown {
  position: static;
}

.swal2-content {
  flex-direction: column-reverse;
  display: flex;
}
